# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

/.pnpm-store/
/node_modules/
/frontend/node_modules/
/frontend/.pnpm-store/

db.sqlite3
__init__.py
