body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide Webpack Dev Server and React Error Overlay in Development */
iframe#webpack-dev-server-client-overlay,
#webpack-dev-server-client-overlay,
react-portal {
  display: none !important;
}
